# IDE
.idea
.DS_Store

# build
dist
node_modules

# eslint
eslint-results.sarif

# cert
.cert

.localdev
.old

# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo

public/config.js

